In [2]:
import numpy as np
import requests
import pandas as pd
import os
from io import StringIO
from pandas import *
import socket
from openpyxl import Workbook, load_workbook
import datetime as dt
from datetime import date

In [3]:
os.chdir(r'C:\Users\Ernest\Box\NIH SINCERE Study\ServicePoint Data\Meaningful Contact\EG')

In [4]:
def report_download (token, report_id):
    data = {
        'token': 'FD34231CD69B4FDE6BF084DD97DD05B2',
        'content': 'report',
        'format': 'csv',
        'report_id': '30562',
        'csvDelimiter': '',
        'rawOrLabel': 'raw',
        'rawOrLabelHeaders': 'raw',
        'exportCheckboxLabel': 'false',
        'returnFormat': 'json'
    }
    r = requests.post('https://redcap01.brisc.utah.edu/ccts/redcap/api/',data=data)
    redcap = pd.read_csv(StringIO(r.text), sep =",")
    return(redcap)

In [5]:
df_red = report_download('TOKEN_HERE', '30562')

counts_red = df_red['redcap_event_name'].value_counts()

participate = (counts_red['baseline_arm_1'])
print("This is how many agreed to participate: " + str(participate))

This is how many agreed to participate: 302

In [6]:
def second_report (report_id):
    data = {
        'token': 'FD34231CD69B4FDE6BF084DD97DD05B2',
        'content': 'report',
        'format': 'csv',
        'report_id': report_id,
        'csvDelimiter': '',
        'rawOrLabel': 'raw',
        'rawOrLabelHeaders': 'raw',
        'exportCheckboxLabel': 'false',
        'returnFormat': 'json'
    }
    r = requests.post('https://redcap01.brisc.utah.edu/ccts/redcap/api/',data=data)
    #print('HTTP Status: ' + str(r.status_code))
    #print(r.text)
    redcap2 = pd.read_csv(StringIO(r.text), sep =",")
    return(redcap2)

In [7]:
df_two = second_report('32346')

counts_two = df_two['redcap_event_name'].value_counts()

total = (counts_two['screener_arm_1'])
print("This is how many want 211 to contact them: " + str(total))



df_two.head()

This is how many want 211 to contact them: 2024

,record_id,redcap_event_name,site,language_start,group,pt_ts,sq01,sq02,sq03,sq04,...,flag_first_contact,unified_screener_complete,ts_end,unified_contact_info_complete,send_surveys,id_211,zip,phone_1,email,phone_surveys
0,99924,screener_arm_1,2,2,2,2023-01-16 16:24:58,0.0,1.0,0.0,0.0,...,1.0,2,2023-01-16 16:30:10,2,NaN,NaN,84119,(786) 277-8640,,NaN
1,99903,screener_arm_1,2,1,1,2023-01-16 10:06:37,0.0,0.0,0.0,0.0,...,1.0,2,2023-01-16 10:20:38,2,NaN,NaN,84107,(716) 482-6319,,NaN
2,99907,screener_arm_1,3,1,2,2023-01-14 00:00:00,0.0,0.0,1.0,1.0,...,NaN,2,NaN,2,NaN,NaN,NaN,801-856-6444,cheriecl@hotmail.com,NaN
3,99911,screener_arm_1,3,1,3,2023-01-13 00:00:00,0.0,0.0,0.0,1.0,...,NaN,2,NaN,2,NaN,NaN,NaN,435-571-1440,iapetus84032@yahoo.com,NaN
4,99859,screener_arm_1,3,1,1,2023-01-05 00:00:00,0.0,0.0,0.0,1.0,...,NaN,2,NaN,2,NaN,99859,NaN,801-703-4747,sclibra13@gmail.com,NaN

In [8]:


format = '%Y/%m/%d %H:%M:%S'

df_two['Time_test']= pd.to_datetime(df_two['pt_ts'])
#type(df_two['pt_ts'])

#df_two['Time_test'] = dt.datetime.strptime(df_two['pt_ts'],format)



df_two_small = df_two[['redcap_event_name', 'Time_test', 'record_id']]


df_two['month_test'] = df_two["Time_test"].dt.month
print(df_two)
#df_two.head()

test_object = df_two.groupby(pd.Grouper(key='Time_test', freq='1M')).sum()
print(test_object)

     record_id redcap_event_name  site  language_start  group  \
0        99924    screener_arm_1     2               2      2
1        99903    screener_arm_1     2               1      1
2        99907    screener_arm_1     3               1      2
3        99911    screener_arm_1     3               1      3
4        99859    screener_arm_1     3               1      1
...        ...               ...   ...             ...    ...
2019        47    screener_arm_1     2               1      2
2020        34    screener_arm_1     2               2      3
2021        25    screener_arm_1     2               2      2
2022     24- P    screener_arm_1     2               2      1
2023        16    screener_arm_1     2               1      1

                    pt_ts  sq01  sq02  sq03  sq04  ...               ts_end  \
0     2023-01-16 16:24:58   0.0   1.0   0.0   0.0  ...  2023-01-16 16:30:10
1     2023-01-16 10:06:37   0.0   0.0   0.0   0.0  ...  2023-01-16 10:20:38
2     2023-01-14 00:00:00   0.0   0.0   1.0   1.0  ...                  NaN
3     2023-01-13 00:00:00   0.0   0.0   0.0   1.0  ...                  NaN
4     2023-01-05 00:00:00   0.0   0.0   0.0   1.0  ...                  NaN
...                   ...   ...   ...   ...   ...  ...                  ...
2019  2021-09-27 23:36:14   0.0   0.0   0.0   0.0  ...  2021-09-27 23:44:23
2020  2021-09-27 18:46:23   0.0   0.0   0.0   0.0  ...  2021-09-27 18:55:30
2021  2021-09-27 17:11:15   0.0   0.0   0.0   0.0  ...  2021-09-27 17:18:45
2022  2021-09-27 16:48:04   0.0   0.0   0.0 -99.0  ...  2021-09-27 17:01:23
2023  2021-09-27 15:10:47   0.0   1.0   1.0   1.0  ...  2021-09-27 15:34:59

      unified_contact_info_complete  send_surveys       id_211     zip  \
0                                 2           NaN          NaN   84119
1                                 2           NaN          NaN  84107
2                                 2           NaN          NaN     NaN
3                                 2           NaN          NaN     NaN
4                                 2           NaN        99859     NaN
...                             ...           ...          ...     ...
2019                              2           NaN           47  84003
2020                              2           1.0           34   84120
2021                              2           1.0           25   84047
2022                              2           1.0  24- Primary   84096
2023                              2           NaN           16  84120

               phone_1                    email   phone_surveys  \
0      (786) 277-8640                                       NaN
1     (716) 482-6319                                        NaN
2         801-856-6444     cheriecl@hotmail.com             NaN
3         435-571-1440   iapetus84032@yahoo.com             NaN
4         801-703-4747      sclibra13@gmail.com             NaN
...                ...                      ...             ...
2019                    Sfaulkner09@gmail.com               NaN
2020   (801) 502-0743                            (801) 502-0743
2021   (971) 715-8350                            (971) 715-8350
2022   (801) 603-2421                            (801) 603-2421
2023  (801) 928-1804      akmccoard@gmail.com               NaN

               Time_test month_test
0    2023-01-16 16:24:58          1
1    2023-01-16 10:06:37          1
2    2023-01-14 00:00:00          1
3    2023-01-13 00:00:00          1
4    2023-01-05 00:00:00          1
...                  ...        ...
2019 2021-09-27 23:36:14          9
2020 2021-09-27 18:46:23          9
2021 2021-09-27 17:11:15          9
2022 2021-09-27 16:48:04          9
2023 2021-09-27 15:10:47          9

[2024 rows x 29 columns]
            site  language_start  group   sq01   sq02   sq03   sq04   sq05  \
Time_test
2021-09-30    54              30     48    3.0   10.0    9.0  -91.0  -91.0
2021-10-31   315             210    321 -271.0  -36.0 -155.0 -343.0 -618.0
2021-11-30   440             307    493 -354.0 -190.0 -519.0 -375.0 -254.0
2021-12-31   225             161    249 -173.0 -344.0 -166.0 -642.0 -624.0
2022-01-31   289             171    280 -268.0 -241.0 -350.0 -618.0 -319.0
2022-02-28   246             176    267  -79.0 -252.0   29.0 -444.0 -233.0
2022-03-31   251             174    280   18.0   50.0   41.0 -142.0 -133.0
2022-04-30   276             181    274 -469.0 -546.0 -263.0 -441.0 -628.0
2022-05-31   144              93    146  -86.0  -74.0   17.0 -170.0 -164.0
2022-06-30   258             190    294 -262.0   63.0  -54.0 -324.0 -219.0
2022-07-31   249             186    288  -72.0   52.0  -58.0  -29.0 -216.0
2022-08-31   103              69    102  -91.0  -73.0 -179.0 -275.0  -71.0
2022-09-30   278             174    249  -77.0 -251.0 -365.0 -537.0 -528.0
2022-10-31   324             180    254  -76.0  -54.0   32.0 -443.0 -633.0
2022-11-30   395             251    360   32.0 -430.0 -147.0 -406.0 -400.0
2022-12-31   138              82    123    9.0   17.0  -84.0   28.0 -266.0
2023-01-31    13               6      9    0.0    1.0    1.0    3.0    3.0

             sq06   sq07   sq08   sq09   sq10  referred211  \
Time_test
2021-09-30   12.0   14.0    1.0    8.0    7.0           24
2021-10-31 -315.0 -709.0   15.0 -245.0 -246.0          162
2021-11-30 -674.0 -573.0 -557.0 -808.0 -630.0          246
2021-12-31 -535.0 -541.0  -75.0 -446.0 -463.0          127
2022-01-31 -709.0 -513.0 -180.0 -445.0 -363.0          140
2022-02-28 -430.0 -331.0   12.0 -558.0  -66.0          133
2022-03-31 -228.0 -424.0   18.0 -162.0 -263.0          139
2022-04-30 -726.0 -428.0 -282.0 -255.0 -161.0          137
2022-05-31  -66.0  -69.0    3.0   23.0   20.0           73
2022-06-30 -318.0 -423.0 -179.0 -243.0  -59.0          147
2022-07-31 -332.0 -233.0 -183.0 -355.0 -256.0          144
2022-08-31  -72.0  -78.0  -93.0 -280.0 -182.0           52
2022-09-30 -633.0 -433.0 -185.0 -256.0  -59.0          125
2022-10-31 -340.0 -536.0    7.0 -160.0  -60.0          128
2022-11-30 -611.0 -610.0 -380.0 -432.0 -138.0          180
2022-12-31  -59.0 -163.0    2.0 -186.0  -84.0           62
2023-01-31    4.0    4.0    1.0    2.0    0.0            5

            flag_first_contact  unified_screener_complete  \
Time_test
2021-09-30                 0.0                         48
2021-10-31                 0.0                        324
2021-11-30                 0.0                        492
2021-12-31                 0.0                        254
2022-01-31                 0.0                        280
2022-02-28                 0.0                        266
2022-03-31                 0.0                        278
2022-04-30                 0.0                        274
2022-05-31                51.0                        146
2022-06-30               134.0                        294
2022-07-31               138.0                        288
2022-08-31                43.0                        104
2022-09-30               114.0                        250
2022-10-31               108.0                        256
2022-11-30               162.0                        360
2022-12-31                47.0                        124
2023-01-31                 2.0                         10

            unified_contact_info_complete  send_surveys  month_test
Time_test
2021-09-30                             48           7.0         216
2021-10-31                            324          35.0        1620
2021-11-30                            492          26.0        2706
2021-12-31                            254          17.0        1524
2022-01-31                            280          25.0         140
2022-02-28                            266          31.0         266
2022-03-31                            278          26.0         417
2022-04-30                            274          16.0         548
2022-05-31                            146          10.0         365
2022-06-30                            294          15.0         882
2022-07-31                            288          20.0        1008
2022-08-31                            104           2.0         416
2022-09-30                            250          29.0        1125
2022-10-31                            256          16.0        1280
2022-11-30                            360          17.0        1980
2022-12-31                            124           8.0         744
2023-01-31                             10           0.0           5

C:\Users\Ernest\AppData\Local\Temp\ipykernel_31040\3007646232.py:17: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  test_object = df_two.groupby(pd.Grouper(key='Time_test', freq='1M')).sum()

In [9]:
df_two_small = df_two[['redcap_event_name', 'Time_test','record_id']]
test_object = df_two_small.groupby(pd.Grouper(key='Time_test', freq='1M')).count()
print(test_object)

            redcap_event_name  record_id
Time_test
2021-09-30                 24         24
2021-10-31                162        162
2021-11-30                246        246
2021-12-31                127        127
2022-01-31                140        140
2022-02-28                133        133
2022-03-31                139        139
2022-04-30                137        137
2022-05-31                 73         73
2022-06-30                147        147
2022-07-31                144        144
2022-08-31                 52         52
2022-09-30                125        125
2022-10-31                128        128
2022-11-30                180        180
2022-12-31                 62         62
2023-01-31                  5          5

In [10]:
df_211t = read_csv("211r.csv")
df_211t['Time_test2']= pd.to_datetime(df_211t['Date Added'])

#df_211t['Date Added'] = df_211t['Date Added'].dt.strftime('%Y-%m')

df_211t2 = df_211t.groupby(pd.Grouper(key='Time_test2', freq='1M'))
#test_object = df_211t.groupby(pd.Grouper(key='Time_test2', freq='1M')).count()
output = df_211t2['Outcome at Follow Up'].value_counts().unstack().fillna(0).astype(int).reindex()

print(output)

Outcome at Follow Up  Contacted  No Change  Not Contacted
Time_test2
2021-01-31                    0          0              1
2021-03-31                    0          0              1
2021-08-31                    0          4              0
2021-09-30                    3          0             12
2021-10-31                   30          1            114
2021-11-30                   36          4            217
2021-12-31                   26          1             74
2022-01-31                   49          0            111
2022-02-28                   38          0             94
2022-03-31                   47          0             92
2022-04-30                   35          0            105
2022-05-31                   19          0             41
2022-06-30                   59          0             98
2022-07-31                   59          0             79
2022-08-31                   13          0             39
2022-09-30                   49          0             66
2022-10-31                   44          2             92
2022-11-30                   64          1            113
2022-12-31                    1          0              9

In [11]:
output.iloc[-1,2]

9

In [12]:
df_211 = read_csv("211.csv")
counts = df_211['Outcome at Follow Up'].value_counts()
counts

Not Contacted    1200
Contacted         486
No Change          10
Name: Outcome at Follow Up, dtype: int64

In [13]:
df_211['Outcome at Follow Up'].isna().sum()

52

In [14]:
contacted = (counts['Contacted'])
print("This is how many have been contacted by 211: " + str(contacted))

This is how many have been contacted by 211: 486

In [15]:
not_contacted = (counts['Not Contacted'])
print("This is how many have not been contacted by 211: " + str(not_contacted))

This is how many have not been contacted by 211: 1200

In [16]:
Diff = (contacted)-(participate)

print("This is the number of people that were contacted by 211 but did not want to enroll: ", str(Diff))

This is the number of people that were contacted by 211 but did not want to enroll:  184

In [17]:
df_mc = pd.read_csv("MCtemplate.CSV")

current_month = dt.datetime.now()

month_row = {'Month': current_month.strftime("%B"), 'Total': total, 'Not Contacted': not_contacted, 'Contacted': contacted, 'Agreed to participate': participate, 'Did not want to participate': Diff}

df_mc =df_mc.append(month_row, ignore_index=True)

df_mc

C:\Users\Ernest\AppData\Local\Temp\ipykernel_31040\1095443755.py:7: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_mc =df_mc.append(month_row, ignore_index=True)

,Unnamed: 0.3,Unnamed: 0.2,Unnamed: 0.1,Unnamed: 0,Month,Not Contacted,Contacted,Agreed to participate,Did not want to participate,Total
0,0.0,0.0,0.0,0.0,November,1200,486,268,218,NaN
1,1.0,1.0,1.0,NaN,December,1200,486,288,198,1964.0
2,2.0,2.0,NaN,NaN,January,1200,486,300,186,2020.0
3,3.0,NaN,NaN,NaN,January,1200,486,300,186,2020.0
4,NaN,NaN,NaN,NaN,January,1200,486,302,184,2024.0

In [18]:
type(month_row)

dict

In [19]:
df_mc.to_csv("MCtemplate.CSV")

In [20]:
meaningful = {'Month': current_month.strftime("%B"), 'Not Contacted': output.iloc[-1,2], 'Contacted': output.iloc[-1,0], 'Not Contacted Total': not_contacted,
'Contacted Total': contacted, 'Agreed to Participate Total': participate, 'Did not want to Partcipate Total': Diff}
meaningful

{'Month': 'January',
 'Not Contacted': 9,
 'Contacted': 1,
 'Not Contacted Total': 1200,
 'Contacted Total': 486,
 'Agreed to Participate Total': 302,
 'Did not want to Partcipate Total': 184}

In [21]:
def report_download (token, report_id):
    data = {
        'token': token,
        'content': 'report',
        'format': 'csv',
        'report_id': report_id,
        'rawOrLabel': 'raw',
        'rawOrLabelHeaders': 'raw',
        'exportCheckboxLabel': 'false',
        'returnFormat': 'json'
    }
    r = requests.post('https://redcap01.brisc.utah.edu/ccts/redcap/api/', verify=True, data=data)
    # Make into a dataframe
    redcap = pd.read_csv(StringIO(r.text), sep =",")
    return(redcap)

# Call the function with your token, and the report number
report_30562 = report_download('FD34231CD69B4FDE6BF084DD97DD05B2', '30562')

# Instead of using the report_download function, I'm going to get the
# 'contact_data' variable, since there is no report in REDCap that just gets the contact_date.

data = {
    'token': 'FD34231CD69B4FDE6BF084DD97DD05B2',
    'content': 'record',
    'action': 'export',
    'format': 'csv',
    'type': 'flat',
    'csvDelimiter': '',
    'fields[0]': 'record_id',
    'fields[1]': 'contact_date',
    'events[0]': 'screener_arm_1',
    'rawOrLabel': 'raw',
    'rawOrLabelHeaders': 'raw',
    'exportCheckboxLabel': 'false',
    'exportSurveyFields': 'false',
    'exportDataAccessGroups': 'false',
    'returnFormat': 'json'
}
r = requests.post('https://redcap01.brisc.utah.edu/ccts/redcap/api/',data=data)
contact_date = pd.read_csv(StringIO(r.text), sep =",")

# Now we have two dataframes and need to merge
report_with_contact_date = pd.merge(left=report_30562,right=contact_date, how='left', left_on='record_id', right_on='record_id')

In [23]:
report_with_contact_date.index = pd.to_datetime(report_with_contact_date['contact_date'],format='%m/%d/%y %I:%M%p')
report_with_contact_date.groupby(by=[report_with_contact_date.index.month, report_with_contact_date.index.year])

ValueError: time data '2022-03-23' does not match format '%m/%d/%y %I:%M%p' (match)